/// Notice Message
/// @access private
@mixin _oMessageNotice () {
	.o-message--notice,
	.o-message--notice-bleed .o-message__container, {
		@extend %o-message-alert-notice-grid;
	}

	.o-message--notice,
	.o-message--notice-bleed {
		.o-message__content {
			@extend %o-message-alert-notice-content;
			padding: 0 oTypographySpacingSize(5);

			&-main {
				@extend %o-message-alert-notice-content-main;
			}

			&-highlight {
				@extend %o-message-content-highlight;
			}
		}

		.o-message__actions {
			padding-bottom: $_o-message-text-spacing;
			display: inline-block;
		}
	}
}
