@mixin oMessageInlineContainer () {
	@include oMessageContainer();
	align-items: flex-start;
	padding: oTypographySpacingSize(2) oTypographySpacingSize(4) oTypographySpacingSize(5) oTypographySpacingSize(4);
};


@mixin oMessageInlineContent () {
	@include oTypographyMargin($top: 3, $bottom: 0);
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;

	&--highlight,
	&--additional-info {
		@include oTypographyMargin($top: 0);
	}
}

@mixin oMessageAlertInlineBase($class: 'o-message') {
	@include oMessageAlertBase($class);

	.#{$class}--alert--inline {
		.#{$class}__container {
			@include oMessageInlineContainer();
		}

		.#{$class}__content {
			@include oMessageInlineContent();
		}
	}
}
