@mixin oMessageAlertInner($class) {
	.#{$class}--alert-inner {
		.#{$class}__container {
			@include oMessageAlertInnerContainer();

			.#{$class}__content {
				@include oMessageAlertInnerContent();
			}

			.#{$class}__highlight,
			.#{$class}__additional-info {
				@include oTypographyMargin($top: 0);
			}
		}
	}
}

@mixin oMessageAlertInnerContainer () {
	@include oMessageContainer();
	align-items: flex-start;
	padding: oTypographySpacingSize(2) oTypographySpacingSize(5) oTypographySpacingSize(5) oTypographySpacingSize(4);
};


@mixin oMessageAlertInnerContent () {
	@include oTypographyMargin($top: 3, $bottom: 0);
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
}
