/// Alert Inner Message
///
/// Outputs styling for an alert-inner type message
/// @example
/// @include oMessageAlertInner('my-class');
///
@mixin oMessageAlertInner() {
	.o-message--alert-inner {
		.o-message__container {
			@extend %o-message-inner-alert-notice-container;

			.o-message__close {
				right: oTypographySpacingSize(4);
			}
		}

		.o-message__content {
			@extend %o-message-inner-alert-notice-content;
			padding-left: $_o-message-alert-icon-size * 1px;

			&-main {
				@extend %o-message-inner-alert-notice-content-main;
			}

			&-highlight {
				@extend %o-message-content-highlight;
			}
		}

		.o-message__actions {
			@include oTypographyPadding($bottom: 3);
			display: inline-block;
		}

	}
}
