
@mixin oMessageAlertInnerBase($class) {
	@include oMessageAlertBase($class);

	.#{$class}--alert-inner {
		.#{$class}__container {
			@include oMessageInnerContainer();

			.#{$class}__content {
				@include oMessageInnerContent();
			}
		}
	}
}

@mixin oMessageInnerContainer () {
	@include oMessageContainer();
	align-items: flex-start;
	padding: oTypographySpacingSize(2) oTypographySpacingSize(5) oTypographySpacingSize(5) oTypographySpacingSize(4);
};


@mixin oMessageInnerContent () {
	@include oTypographyMargin($top: 3, $bottom: 0);
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;

	&--highlight,
	&--additional-info {
		@include oTypographyMargin($top: 0);
	}
}
