@import 'src/scss/alert/color-use-cases';
@import 'src/scss/alert/variables';
@import 'src/scss/alert/mixins';

.o-message__button {
	@include oButtons();
}

.o-message__actions {
	display: flex;
}

.o-message--alert {
	height: $_o-message-alert-height;
}

.o-message--alert-error {
	@include oColorsFor(o-message-alert-error);

	.o-message__link {
		@include oTypographyLinkCustom(
			$baseColor: 'black-crimson-12.5',
			$hoverColor: 'black-crimson-12.5',
			$backgroundColor: 'paper-crimson-90'
		);

		&:hover {
			border-bottom-color: oColorsGetPaletteColor('black-crimson-12.5');
		}

		&:focus {
			outline: 3px solid oColorsGetPaletteColor('black-crimson-12.5');
			border-bottom-color: transparent;
		}
	}

	.o-message__button {
		@include oButtonsCustomTheme('paper-crimson-90',  'black-crimson-12.5');
	}
}

.o-message--alert-neutral {
	@include oColorsFor(o-message-alert-neutral);

	.o-message__link {
		@include oTypographyLinkCustom(
			$baseColor: 'black',
			$hoverColor: 'black',
			$backgroundColor: 'white-60'
		);

		&:hover {
			border-bottom-color: oColorsGetPaletteColor('black');
		}

		&:focus {
			outline: 3px solid oColorsGetPaletteColor('black');
			border-bottom-color: transparent;
		}
	}

	.o-message__button {
		@include oButtonsCustomTheme('white-60',  'black');
	}
}

.o-message--alert-success {
	@include oColorsFor(o-message-alert-success);

	.o-message__link {
		@include oTypographyLinkCustom(
			$baseColor: 'black-jade-43',
			$hoverColor: 'black-jade-43',
			$backgroundColor: 'paper-jade-80'
		);

		&:hover {
			border-bottom-color: oColorsGetPaletteColor('black-jade-43');
		}

		&:focus {
			outline: 3px solid oColorsGetPaletteColor('black-jade-43');
			border-bottom-color: transparent;
		}
	}

	.o-message__button {
		@include oButtonsCustomTheme('paper-jade-80', 'black-jade-43');
	}
}

.o-message__content {
	display: flex;
	align-items: center;
	height: 100%;

	@include oTypographySans($scale: 0)

	p {
		@include oTypographyMargin($top: 0, $bottom: 0);
	}

	&--highlight {
		@include oTypographySansBold($scale: 0);
	}
}
