@import 'src/scss/alert/color-use-cases';
@import 'src/scss/alert/variables';
@import 'src/scss/alert/mixins';

.o-message__button {
	@include oButtons();
	@include oTypographySans($scale: -1);
	margin: 0 24px;
}

.o-message__link,
.o-message__button {
	white-space: nowrap;
}

.o-message__actions {
	display: flex;
	align-items: center;
}

.o-message--alert {
	height: $_o-message-alert-height;
}

.o-message--alert-error {
	@include oColorsFor(o-message-alert-error);

	.o-message__link {
		@include oTypographyLinkCustom(
			$baseColor: 'black-crimson-12.5',
			$hoverColor: 'black-crimson-12.5',
			$backgroundColor: 'paper-crimson-90'
		);

		&:hover {
			border-bottom-color: oColorsGetPaletteColor('black-crimson-12.5');
		}

		&:focus {
			outline: 3px solid oColorsGetPaletteColor('black-crimson-12.5');
			border-bottom-color: transparent;
		}
	}

	.o-message__button {
		@include oButtonsCustomTheme('paper-crimson-90',  'black-crimson-12.5');
	}

	.o-message__content:before {
		@include oIconsGetIcon('warning', oColorsGetPaletteColor('paper-crimson-90'), 20);
		content: '';
		padding: 1px;
		background-color: oColorsGetPaletteColor('black-crimson-12.5');
		border-radius: 50%;
		margin: 10px;
	}

	.o-message__close {
		@include oIconsGetIcon('cross', oColorsGetPaletteColor('black-crimson-12.5'), 20);
	}
}

.o-message--alert-neutral {
	@include oColorsFor(o-message-alert-neutral);

	.o-message__link {
		@include oTypographyLinkCustom(
			$baseColor: 'black',
			$hoverColor: 'black',
			$backgroundColor: 'white-60'
		);

		&:hover {
			border-bottom-color: oColorsGetPaletteColor('black');
		}

		&:focus {
			outline: 3px solid oColorsGetPaletteColor('black');
			border-bottom-color: transparent;
		}
	}

	.o-message__button {
		@include oButtonsCustomTheme('white-60',  'black');
	}

	.o-message__content:before {
		//this really needs to not be the case with the icons,
		// waiting on new icons from james
		@include oTypographySansBold(0);
		content: 'i';
		color: oColorsGetPaletteColor('white');
		padding: 2px 10px;
		background-color: oColorsGetPaletteColor('black');
		border-radius: 50%;
		margin: 10px;
	}

	.o-message__close {
		@include oIconsGetIcon('cross', oColorsGetPaletteColor('black'), 20);
	}
}

.o-message--alert-success {
	@include oColorsFor(o-message-alert-success);

	.o-message__link {
		@include oTypographyLinkCustom(
			$baseColor: 'black-jade-43',
			$hoverColor: 'black-jade-43',
			$backgroundColor: 'paper-jade-80'
		);

		&:hover {
			border-bottom-color: oColorsGetPaletteColor('black-jade-43');
		}

		&:focus {
			outline: 3px solid oColorsGetPaletteColor('black-jade-43');
			border-bottom-color: transparent;
		}
	}

	.o-message__button {
		@include oButtonsCustomTheme('paper-jade-80', 'black-jade-43');
	}

	.o-message__content:before {
		@include oIconsGetIcon('tick', oColorsGetPaletteColor('black-jade-43'), 40);
		content: '';
	}

	.o-message__close {
		@include oIconsGetIcon('cross', oColorsGetPaletteColor('black-jade-43'), 20);
	}
}

.o-message__container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	white-space: nowrap;
	// sass-lint:disable no-vendor-prefixes
	-webkit-font-smoothing: antialiased;
	// sass-lint:enable no-vendor-prefixes


	@include oTypographySans($scale: 0)

	.o-message__content {
		@include oTypographyMargin($top: 0, $bottom: 0);
		display: flex;
		align-items: center;

		&--highlight {
			@include oTypographySansBold($scale: 0);
			padding-right: 8px; //spacing unit mixin
		}
	}

	.o-message__close {
		margin-left: auto;
	}
}

.o-message {
	@include oGridContainer();
}
