<div class="demo-message">
	<div class="o-message o-message--alert o-message--alert-error" data-o-component="o-message">
		<div class="o-message__container">
			<div class="o-message__content">
				<span class="o-message__content--highlight">Something went wrong!</span>
				<p class="o-message__content--detail">The quick brown fox did not jump over the lazy dogs.</p>
			</div>
			<a href="#" class="o-message__button o-message__action--primary">Button</a>
			<a href="#" class="o-message__link o-message__action--secondary">Text link</a>
			<a href="#" class="o-message__close"></a>
		</div>
	</div>

	<div class="o-message o-message--alert o-message--alert-neutral" data-o-component="o-message">
		<div class="o-message__container">
			<div class="o-message__content">
				<span class="o-message__content--highlight">This is all pretty standard.</span>
				<p class="o-message__content--detail">There's a fox, and some lazy dogs.</p>
			</div>
			<a href="#" class="o-message__button o-message__action--primary">Button</a>
			<a href="#" class="o-message__link o-message__action--secondary">Text link</a>
			<a href="#" class="o-message__close"></a>
		</div>
	</div>

	<div class="o-message o-message--alert o-message--alert-success" data-o-component="o-message">
		<div class="o-message__container">
			<div class="o-message__content">
				<span class="o-message__content--highlight">Hooray!</span>
				<p class="o-message__content--detail">The quick brown fox jumped over the lazy dogs!</p>
			</div>
			<a href="#" class="o-message__button o-message__action--primary">Button</a>
			<a href="#" class="o-message__link o-message__action--secondary">Text link</a>
			<a href="#" class="o-message__close"></a>
		</div>
	</div>

	<div class="o-message o-message--alert--bleed o-message--alert-success" data-o-component="o-message">
		<div class="o-message__container">
			<div class="o-message__content">
				<span class="o-message__content--highlight">Hooray!</span>
				<p class="o-message__content--detail">The quick brown fox jumped over the lazy dogs!</p>
			</div>
			<a href="#" class="o-message__button o-message__action--primary">Button</a>
			<a href="#" class="o-message__link o-message__action--secondary">Text link</a>
			<a href="#" class="o-message__close"></a>
		</div>
	</div>
</div>
