<div class="demo-message">
	<h1>Alert Message</h1>
	<h3>Error Alert</h3>
	<div class="o-message o-message--alert o-message--alert-error" data-o-component="o-message">
		<div class="o-message__content">
			<p><span class="o-message__content--highlight">Something went wrong!</span> Please check and try again.</p>
		</div>
	</div>

	<h3>Neutral Alert</h3>
	<div class="o-message o-message--alert o-message--alert-neutral" data-o-component="o-message">
		<div class="o-message__content">
			<p><span class="o-message__content--highlight">This is all pretty standard.</span> Just letting you know.</p>
		</div>
	</div>

	<h3>Success Alert</h3>
	<div class="o-message o-message--alert o-message--alert-success" data-o-component="o-message">
		<div class="o-message__content">
			<p><span class="o-message__content--highlight">Hooray!</span> Everything has gone smoothly!</p>
		</div>
	</div>
</div>

<!-- <div class="n-alert-banner n-alert-banner--{theme}" data-n-component="n-alert-banner">
    <div class="n-alert-banner__outer">
        <div class="n-alert-banner__inner" data-n-alert-banner-inner=""> -->

            <!-- Content to display on larger screens -->
            <!-- <div class="n-alert-banner__content n-alert-banner__content--long">
                <p><b>Something went wrong!</b> Please check and try again.</p>
            </div> -->

            <!-- Content to display on smaller screens -->
            <!-- <div class="n-alert-banner__content n-alert-banner__content--short">
                <p>Please check and try again.</p>
            </div> -->

            <!-- Button and link -->
            <!-- <div class="n-alert-banner__actions">
                <div class="n-alert-banner__action">
                    <a href="#" class="n-alert-banner__button">Button</a>
                </div>
                <div class="n-alert-banner__action--secondary">
                    <a href="#" class="n-alert-banner__link">Text link</a>
                </div>
            </div>

        </div>
    </div>
</div> -->
