<div class="demo-message">
	<h1>Alert Message</h1>
	<h3>Error Alert</h3>
	<div class="o-message o-message--alert o-message--alert-error" data-o-component="o-message">
		<div class="o-message__container">
			<p class="o-message__content">
				<span class="o-message__content--highlight">Something went wrong! </span>
				Please check and try again.
			</p>
			<a href="#" class="o-message__button o-message__action--primary">Button</a>
			<a href="#" class="o-message__link o-message__action--secondary">Text link</a>
			<a href="#" class="o-message__close"></a>
		</div>
	</div>

	<h3>Neutral Alert</h3>
	<div class="o-message o-message--alert o-message--alert-neutral" data-o-component="o-message">
		<div class="o-message__container">
			<p class="o-message__content">
				<span class="o-message__content--highlight">This is all pretty standard. </span>
				Just letting you know.
			</p>
			<a href="#" class="o-message__button o-message__action--primary">Button</a>
			<a href="#" class="o-message__link o-message__action--secondary">Text link</a>
			<a href="#" class="o-message__close"></a>
		</div>
	</div>

	<h3>Success Alert</h3>
	<div class="o-message o-message--alert o-message--alert-success" data-o-component="o-message">
		<div class="o-message__container">
			<p class="o-message__content">
				<span class="o-message__content--highlight">Hooray! </span>
				Everything has gone smoothly!
			</p>
			<a href="#" class="o-message__button o-message__action--primary">Button</a>
			<a href="#" class="o-message__link o-message__action--secondary">Text link</a>
			<a href="#" class="o-message__close"></a>
		</div>
	</div>
</div>
