<div class="list-of-demo-buttons">
    <button class="demo-button" id="alert-message-success-demo">Sticky alert message for successful event</button>
    <button class="demo-button" id="alert-message-neutral-demo">Stucky alert message for neutral event</button>
    <button class="demo-button" id="alert-message-neutral-bleed-demo">Sticky alert message for neutral event with bleed</button>
    <button class="demo-button" id="alert-message-failure-demo">Sticky alert message for failed event</button>
    <button class="demo-button" id="inline-message-success-demo">Demo of inline message for successful event</button>
    <button class="demo-button" id="inline-message-neutral-demo">Demo of inline message for neutral event</button>
    <button class="demo-button" id="inline-message-failure-demo">Demo of inline message for failed event</button>
</div>