<div class="list-of-demo-buttons">
    <button class="demo-button" id="alert-message-success-demo">Alert message for successful event</button>
    <button class="demo-button" id="alert-message-neutral-demo">Alert message for neutral event</button>
    <button class="demo-button" id="alert-message-neutral-bleed-demo">Alert message for neutral event with bleed</button>
    <button class="demo-button" id="alert-message-failure-demo">Alert message for failed event</button>
</div>
<div class="list-of-demo-buttons">
    <button class="demo-button" id="inline-message-success-demo">Inline alert message for successful event</button>
    <button class="demo-button" id="inline-message-neutral-demo">Inline alert message for neutral event</button>
    <button class="demo-button" id="inline-message-failure-demo">Inline alert message for failed event</button>
</div>