<div class="list-of-demo-buttons">
    <button class="o-message__button o-message__action--primary" id="alert-message-success-demo">Demo of alert message for successful event</button>
    <button class="o-message__button o-message__action--primary" id="alert-message-neutral-demo">Demo of alert message for neutral event</button>
    <button class="o-message__button o-message__action--primary" id="alert-message-neutral-bleed-demo">Demo of alert message for neutral event with bleed</button>
    <button class="o-message__button o-message__action--primary" id="alert-message-failure-demo">Demo of alert message for failed event</button>
    <button class="o-message__button o-message__action--primary" id="inline-message-success-demo">Demo of inline message for successful event</button>
    <button class="o-message__button o-message__action--primary" id="inline-message-neutral-demo">Demo of inline message for neutral event</button>
    <button class="o-message__button o-message__action--primary" id="inline-message-failure-demo">Demo of inline message for failed event</button>
</div>