<div class="demo-message">
	<div class="o-message o-message--alert--inline o-message--alert-success" data-o-component="o-message">
		<div class="o-message__container">
			<div class="o-message__content">
				<p class="o-message__content--detail"><span class="o-message__content--highlight">Success!</span>Placeholder for general details about alert</p>
				<p class="o-message__content--additional-info">Here you can put an additional information about your alert</p>
			</div>
			<a href="#" class="o-message__button o-message__action--primary">Button</a>
			<a href="#" class="o-message__link o-message__action--secondary">Text link</a>
		</div>
	</div>

	<div class="o-message o-message--alert--inline o-message--alert-neutral" data-o-component="o-message">
		<div class="o-message__container">
			<div class="o-message__content">
				<p class="o-message__content--detail"><span class="o-message__content--highlight">Info</span>All is ok</p>
				<p class="o-message__content--additional-info">Here you can put an additional information about your alert</p>
			</div>
			<a href="#" class="o-message__button o-message__action--primary">Button</a>
			<a href="#" class="o-message__link o-message__action--secondary">Text link</a>
		</div>
	</div>

	<div class="o-message o-message--alert--inline o-message--alert-error" data-o-component="o-message">
		<div class="o-message__container">
			<div class="o-message__content">
				<p class="o-message__content--detail"><span class="o-message__content--highlight">Oops...</span>Placeholder for general details about alert</p>
				<p class="o-message__content--additional-info">Here you can put an additional information about your alert</p>
			</div>
			<a href="#" class="o-message__button o-message__action--primary">Button</a>
			<a href="#" class="o-message__link o-message__action--secondary">Text link</a>
		</div>
	</div>
</div>
