<div class="demo-message">
	<div class="o-message o-message--inline o-message--alert-success" data-o-component="o-message">
		<div class="o-message__container">
			<div class="o-message__content">
				<p class="o-message__content--detail"><span class="o-message__content--highlight">Well done!</span> You have successfully completed this task and this is great news.</p>
			</div>
			<p class="o-message__content--action">Now you should do this, and this, and this, and this.</p>
			<a href="#" class="o-message__button o-message__action--primary">Button</a>
			<a href="#" class="o-message__link o-message__action--secondary">Text link</a>
		</div>
	</div>

	<div class="o-message o-message--inline o-message--alert-neutral" data-o-component="o-message">
		<div class="o-message__container">
			<div class="o-message__content">
				<p class="o-message__content--detail"><span class="o-message__content--highlight">This is all pretty standard.</span>There's a fox, and some lazy dogs.</p>
			</div>
			<p class="o-message__content--action">Now you should do this, and this, and this, and this.</p>
			<a href="#" class="o-message__button o-message__action--primary">Button</a>
			<a href="#" class="o-message__link o-message__action--secondary">Text link</a>
		</div>
	</div>

	<div class="o-message o-message--inline o-message--alert-error" data-o-component="o-message">
		<div class="o-message__container">
			<div class="o-message__content">
				<p class="o-message__content--detail"><span class="o-message__content--highlight">Hooray!</span>The quick brown fox jumped over!</p>
			</div>
			<p class="o-message__content--action">Now you should do this.</p>
			<a href="#" class="o-message__button o-message__action--primary">Button</a>
			<a href="#" class="o-message__link o-message__action--secondary">Text link</a>
		</div>
	</div>
</div>
