/// Message base
///
/// Outputs base styles for a message
/// @access private
@mixin _oMessageBase() {
	.o-message {
		@include oTypographySans($o-message-typography-scale);
		// sass-lint:disable no-vendor-prefixes
		-webkit-font-smoothing: antialiased;
		// sass-lint:enable no-vendor-prefixes
		
		.o-message__container {
			//TODO: rm magic #s
			max-width: 1220px;
			min-width: 240px;
			margin: 0 auto;
			padding: 0 10px;
			position: relative;
			box-sizing: border-box;
			
			&:before {
				top: $_o-message-text-spacing / 2
			}
		}

		.o-message__content {
			@include oTypographyMargin($top: 0, $bottom: 0);
			position: relative;
			max-width: oTypographyMaxLineWidth($o-message-typography-scale);

			.o-message__content-main {
				@include oTypographyMargin($top: 4, $bottom: 4);
				display: inline-block;
				margin-right: oTypographySpacingSize(6);
			}

			.o-message__content-highlight {
				@include oTypographyBold('sans');
			}
		}

		.o-message__actions {
			display: inline-block;
			padding-bottom: $_o-message-text-spacing;
		}
	}

	.o-message--closed {
		display: none;
	}
};
