/// Message base
///
/// Outputs base styles for a message
/// @access private
@mixin _oMessageBase() {
	.o-message {
		.o-message__container {
			@include _oMessageContainer;
		}

		.o-message__content {
			.o-message__content-main {
				display: inline-block;
			}

			.o-message__content-highlight {
				@include oTypographyBold('sans');
			}
		}

		.o-message__actions {
			display: inline-block;
		}
	}

	.o-message--closed {
		display: none;
	}
};


/// Inner Message base
///
/// Outputs base styles for an inner style message
/// @access private
@mixin _oMessageInnerBase($type) {
	.o-message--#{$type}-inner {
		.o-message__container {
			padding: oTypographySpacingSize(2) oTypographySpacingSize(5) oTypographySpacingSize(2) oTypographySpacingSize(4);

			.o-message__close {
				right: oTypographySpacingSize(4);
			}
		}

		.o-message__content {
			@include oTypographyMargin($top: 3, $bottom: 0);
			max-width: oTypographyMaxLineWidth($o-message-typography-scale);
			padding-left: if($type == 'alert', $_o-message-alert-icon-size  * 1px, $_o-message-alert-icon-size / 2 * 1px);

			.o-message__content-main {
				@include oTypographyMargin($top: 0, $bottom: 3);
				margin-right: oTypographySpacingSize(6);
			}

			.o-message__content-highlight {
				@include oTypographyBold('sans');
			}
		}

		.o-message__actions {
			@include oTypographyPadding($bottom: 3);
		}
	}
};

/// Regular Message base
///
/// Outputs base styles for a regular style message
/// @access private
@mixin _oMessageRegularBase($type) {
	.o-message--#{$type},
	.o-message--#{$type}-bleed .o-message__container {
		@include oGridContainer();
		@include oGridRespondTo($from: S) {
			padding: 0 oGridGutter();
		}
	}

	.o-message--#{$type},
	.o-message--#{$type}-bleed {
		@if $type == 'alert' {
			height: 100%;

			.o-message__container:before {
				top: $_o-message-text-spacing / 2;
			}
		};

		.o-message__content {
			@include oTypographyMargin($top: 0, $bottom: 0);
			position: relative;
			padding: 0 if($type == 'alert', oTypographySpacingSize(10), oTypographySpacingSize(5));

			.o-message__content-main {
				@include oTypographyMargin($top: 4, $bottom: 4);
				margin-right: oTypographySpacingSize(6);
			}
		}

		.o-message__actions {
			padding-bottom: $_o-message-text-spacing;
		}
	}
}
