/// Inner Message base
///
/// Outputs base styles for an inner style message
/// @access private
@mixin _oMessageInner($types) {
	$alert: index($types, 'alert');
	$notice: index($types, 'notice');

	.o-message--inner {
		.o-message__container {
			padding: oTypographySpacingSize(2) oTypographySpacingSize(5) oTypographySpacingSize(2) oTypographySpacingSize(4);

			.o-message__close {
				right: oTypographySpacingSize(4);
			}
		}

		.o-message__content {
			@include oTypographyMargin($top: 3, $bottom: 0);
			max-width: oTypographyMaxLineWidth($o-message-typography-scale);

			.o-message__content-main {
				@include oTypographyMargin($top: 0, $bottom: 3);
				margin-right: oTypographySpacingSize(6);
			}

			.o-message__content-highlight {
				@include oTypographyBold('sans');
			}
		}

		.o-message__actions {
			@include oTypographyPadding($bottom: 3);
		}
	}

	@if $alert {
		.o-message--alert {
			.o-message--content {
				padding-left: $_o-message-alert-icon-size  * 1px
			}
		}
	}

	@if $notice {
		.o-message--notice {
			.o-message__content {
				padding-left:  $_o-message-alert-icon-size / 2 * 1px
			}
		}
	}
}
