/// Message container
///
/// Outputs base layout for a message container
/// @access private
@mixin _oMessageContainer () {
	@include oTypographySans($o-message-typography-scale);
	position: relative;
	// sass-lint:disable no-vendor-prefixes
	-webkit-font-smoothing: antialiased;
	// sass-lint:enable no-vendor-prefixes
}

/// Customised Icon for Alert messages
/// @param {String} $icon-name - name of the icon (accepts any icon name from fticons)
/// @param {String} $icon-color - name of the icon color (accepts any color from o-colors)
/// @param {String} $icon-size - size of the icon
/// @access private
@mixin _oMessageIcon ($icon-name, $icon-color, $icon-size) {
	@include oIconsGetIcon(
		$icon-name,
		oColorsGetPaletteColor($icon-color),
		$icon-size
	);
	content: '';
}

/// Provide a component specific error message
///
/// @param {String} $message - The message to insert in the error.
/// @access private
@mixin _oMessageError($message) {
	@error '*** oMessage SCSS error: #{$message} ***';
};
