@mixin oMessageContainer () {
	@include oTypographySans($scale: 0);

	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	flex-wrap: nowrap;
	// sass-lint:disable no-vendor-prefixes
	-webkit-font-smoothing: antialiased;
	// sass-lint:enable no-vendor-prefixes
}

@mixin oMessageHighlight {
	@include oTypographySansBold($scale: 0);
	line-height: 1;
	margin-right: oTypographySpacingSize(6);
}

@mixin oMessageDetail {
	padding-left: oTypographySpacingSize(2);
	font-weight: 400;
}

@mixin oMessageButtonBase () {
	@include oButtons();
	@include oTypographySans($scale: -1);
}

@mixin oMessageCloseButton ($icon-color) {
	@include oIconsGetIcon('cross', $icon-color, 20);
	margin-left: auto;
}

@mixin oMessageBase($class) {
	.#{$class} {
		.#{$class}__container {
			@include oMessageContainer;

			.#{$class}__content {
				@include oMessageAlertContent;
			}

			.#{$class}__highlight {
				@include oMessageHighlight;
			}

			.#{$class}__detail {
				@include oMessageDetail;
			}
		}

		.#{$class}--closed {
			display: none;
		}
	}
};
