@mixin oMessageContainer () {
	@include oTypographySans($scale: 0);
	
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	white-space: nowrap;
	// sass-lint:disable no-vendor-prefixes
	-webkit-font-smoothing: antialiased;
	// sass-lint:enable no-vendor-prefixes
}

@mixin oMessageButtonBase () {
	@include oButtons();
	@include oTypographySans($scale: -1);
}

@mixin oMessageCloseButton ($icon-color) {
	@include oIconsGetIcon('cross', $icon-color, 20);
}
