////
/// @group o-message
/// @link http://registry.origami.ft.com/components/o-message
////

/// Silent mode: on (true) or off (false)
/// Set to false to output default message classes
///
/// @type Boolean
$o-message-is-silent: true !default;

/// Only output all message states once.
///
/// @type Boolean
$o-message-all-states-output: false !default;

/// Default button class used when $o-buttons-is-silent is true
///
/// @type String
$o-message-class: o-message !default;

//Accepted message types
$o-message-action-types: (action, action-bleed);
$o-message-alert-types: (alert, alert-bleed, alert-inner);
$o-message-notice-types: (notice, notice-bleed, notice-inner);

// Alert message height
$_o-message-action-height: 40px;

//Icons
$_o-message-alert-icon-size: 40;
$_o-message-close-icon-size: 26;


//Typography
$o-message-typography-scale: 0 !default;
$_o-message-line-height: nth(oTypographyGetScale($o-message-typography-scale), 2);
$_o-message-text-spacing: ($_o-message-line-height / 2) * 1px;

//Placeholder map
$_o-message-placeholders: () !default;

/// List of states that can be applied to alert type messages
///
/// @type List
$o-message-states: (error, neutral, success, inform, inform-inverse, warning, warning-light);

/// Message status variants, with their respective states
/// Each status is a Map of CSS properties
///
/// @type Map
$_o-message-status-styles: (
	error: (
		custom-link-base: 'black-crimson-12.5',
		custom-link-hover: 'black-crimson-12.5',
		custom-link-background: 'paper-crimson-90',
		link-hover: oColorsGetPaletteColor('black-crimson-12.5'),
		link-focus: oColorsGetPaletteColor('black-crimson-12.5'),
		button-text: 'black-crimson-12.5',
		button-background: 'paper-crimson-90',
		alert-icon-name: 'warning-alt',
		alert-icon-color: oColorsGetPaletteColor('black-crimson-12.5'),
		close-icon-color: oColorsGetPaletteColor('black-crimson-12.5')
	),
	neutral: (
		custom-link-base: 'black',
		custom-link-hover: 'black',
		custom-link-background: 'white-60',
		link-hover: oColorsGetPaletteColor('black'),
		link-focus: oColorsGetPaletteColor('black'),
		button-text: 'black',
		button-background: 'white-60',
		alert-icon-name: 'info',
		alert-icon-color: oColorsGetPaletteColor('black'),
		close-icon-background: oColorsGetPaletteColor('black'),
	),
	success: (
		custom-link-base: 'black-jade-43',
		custom-link-hover: 'black-jade-43',
		custom-link-background: 'paper-jade-80',
		link-hover: oColorsGetPaletteColor('black-jade-43'),
		link-focus: oColorsGetPaletteColor('black-jade-43'),
		button-text: 'black-jade-43',
		button-background: 'paper-jade-80',
		alert-icon-name: 'tick',
		alert-icon-color: oColorsGetPaletteColor('black-jade-43'),
		close-icon-color: oColorsGetPaletteColor('black-jade-43')
	),
	inform: (
		custom-link-base: 'black',
		custom-link-hover: 'black',
		custom-link-background: 'wheat',
		link-hover: oColorsGetPaletteColor('black'),
		link-focus: oColorsGetPaletteColor('black'),
		button-text: 'black',
		button-background: 'wheat',
		close-icon-color: oColorsGetPaletteColor('black')
	),
	inform-inverse: (
		custom-link-base: 'white',
		custom-link-hover: 'white',
		custom-link-background: 'slate',
		link-hover: oColorsGetPaletteColor('white'),
		link-focus: oColorsGetPaletteColor('white'),
		button-text: 'white',
		button-background: 'slate',
		close-icon-color: oColorsGetPaletteColor('white')
	),
	warning: (
		custom-link-base: 'black',
		custom-link-hover: 'black',
		custom-link-background: 'lemon',
		link-hover: oColorsGetPaletteColor('black'),
		link-focus: oColorsGetPaletteColor('black'),
		button-text: 'black',
		button-background: 'lemon',
		close-icon-color: oColorsGetPaletteColor('black')
	),
	warning-light: (
		custom-link-base: 'black',
		custom-link-hover: 'black',
		custom-link-background: 'lemon-white-60',
		link-hover: oColorsGetPaletteColor('black'),
		link-focus: oColorsGetPaletteColor('black'),
		button-text: 'black',
		button-background: 'lemon-white-60',
		close-icon-color: oColorsGetPaletteColor('black')
	),
);
