/// Message base
///
/// Outputs base styles for a Message
/// @access private
// @mixin _oMessageBase() {
	.o-message {
		.o-message__container {
			@include _oMessageContainer;
		}

		.o-message__content {

			.o-message__content-highlight {
				@include oTypographyBold('sans');
			}
		}

		.o-message__actions {
			display: inline-block;
		}
	}

	.o-message--closed {
		display: none;
	}
// };

/// Inner Message base
///
/// Outputs base styles for an inner style message
/// @access private
// @mixin _oMessageInnerBase() {
	.o-message--alert-inner,
	.o-message--notice-inner {
		.o-message__container {
			padding: oTypographySpacingSize(2) oTypographySpacingSize(5) oTypographySpacingSize(2) oTypographySpacingSize(4);

			.o-message__close {
				right: oTypographySpacingSize(4);
			}
		}

		.o-message__content {
			@include oTypographyMargin($top: 3, $bottom: 0);
			padding-left: $_o-message-alert-icon-size * 1px;
			max-width: oTypographyMaxLineWidth($o-message-typography-scale);

			.o-message__content-main {
				@include oTypographyMargin($top: 0, $bottom: 3);
				margin-right: oTypographySpacingSize(6);
				display: inline-block;
			}

			.o-message__content-highlight {
				@include oTypographyBold('sans');
			}
		}

		.o-message__actions {
			@include oTypographyPadding($bottom: 3);
		}
	}

	.o-message--notice-inner {
		.o-message__content {
			padding-left: 20px;
		}
	}
// };
